h1,
h3 {
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: normal;
}
p {
  line-height: 2.2;
  font-size: 1.3em;
}
#you_diagnosis {
  //  width: 1000px;
  margin: 0 auto 30px auto;
  //  overflow: hidden;
  //  background-size: 1000px auto;

  #typeName {
    height: 340px;
    width: 340px;
    padding-top: 140px;
    text-align: center;
    font-size: 2em;
    background: #2184c7;
    border-radius: 300px;
    color: #fff;
  }
  #graph {
    width: 380px;
    height: 288px;
    margin: 30px auto;
    box-sizing: border-box;
  }
}
.graph_01 {
  //background: url("../images/graph_01.png") no-repeat center;
}
.graph_02 {
  //background: url("../images/graph_02.png") no-repeat center;
}
.graph_03 {
  //background: url("../images/graph_03.png") no-repeat center;
}
.graph_04 {
  //background: url("../images/graph_04.png") no-repeat center;
}
.graph_05 {
  //background: url("../images/graph_05.png") no-repeat center;
}
.graph_06 {
  //background: url("../images/graph_06.png") no-repeat center;
}
.graph_07 {
  //background: url("../images/graph_07.png") no-repeat center;
}
.graph_08 {
  //background: url("../images/graph_08.png") no-repeat center;
}
.graph_09 {
  //background: url("../images/graph_09.png") no-repeat center;
}
.graph_10 {
  //background: url("../images/graph_10.png") no-repeat center;
}
.graph_11 {
  //background: url("../images/graph_11.png") no-repeat center;
}
.graph_12 {
  //background: url("../images/graph_12.png") no-repeat center;
}
.graph_13 {
  //background: url("../images/graph_13.png") no-repeat center;
}
.graph_14 {
  //background: url("../images/graph_14.png") no-repeat center;
}
.graph_15 {
  //background: url("../images/graph_15.png") no-repeat center;
}
.graph_16 {
  //background: url("../images/graph_16.png") no-repeat center;
}
.graph_17 {
  //background: url("../images/graph_17.png") no-repeat center;
}
.graph_18 {
  //background: url("../images/graph_18.png") no-repeat center;
}
.graph_19 {
  //background: url("../images/graph_19.png") no-repeat center;
}
.graph_20 {
  //background: url("../images/graph_20.png") no-repeat center;
}
.graph_21 {
  //background: url("../images/graph_21.png") no-repeat center;
}
.graph_22 {
  //background: url("../images/graph_22.png") no-repeat center;
}
.graph_23 {
  //background: url("../images/graph_23.png") no-repeat center;
}
.graph_24 {
  //background: url("../images/graph_24.png") no-repeat center;
}
.graph_25 {
  //background: url("../images/graph_25.png") no-repeat center;
}
.graph_26 {
  //background: url("../images/graph_26.png") no-repeat center;
}
.graph_27 {
  //background: url("../images/graph_27.png") no-repeat center;
}
.graph_28 {
  //background: url("../images/graph_28.png") no-repeat center;
}
.graph_29 {
  //background: url("../images/graph_29.png") no-repeat center;
}
.graph_30 {
  //background: url("../images/graph_30.png") no-repeat center;
}
.graph_31 {
  //background: url("../images/graph_31.png") no-repeat center;
}
// .container {
//    p {
//      clear: both;
//      font-size: 20px;
//     }
//     .box {
//       width: 1000px;
//       margin: 0 auto 80px auto;
//       font-size: 20px;
//       line-height: 180%;
//       h3 {
//         font-size: 40px;
//         margin-top: 0;
//       }
//     .ttl {
//         height: 50px;
//         padding: 15px 0 0 50px;
//         background-size: 440px 50px;
//         font-size: 40px;
//         font-weight: bold;
//         position: relative;
//         top: -30px;
//         left: -20px;
//         box-sizing: border-box;
//         button{
//         width: 24%;
//         font-size: 23px;
//         }
//         button:hover{
//           background-color: chocolate;
//         }
//     }
//   }
// }

// .clicked{
//   background-color:  chocolate;
//   color: white;
// }

.backToIndex {
  height: 90px;
  margin: 0 auto;
  font-size: 28px;
  color: #fff;
  align-items: center;
  display: flex;
}
